<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Java_Lang_Object_class_examples/src/DeepCloning/deppCloning.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="DeepCloning.deppCloning"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Java_Lang_Object_class_examples"/>
</launchConfiguration>
